[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.{{ env }}.ramdevops.co.uk
Environment=CATALOGUE_HOST=catalogue.{{ env }}.ramdevops.co.uk
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target